/* ==UserStyle==
@name           YouTube: fadeInChatMessage
@namespace      github.com/openstyles/stylus
@version        0.1.0
@description    To fade in Chat Messages
@author         CY Fung
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/live_chat") {
    
    
    @keyframes fadeInChatMessage {
        from{
            opacity:0.6;
        }
        to{
            opacity:1;
        }
    }


    [wsr93] {

        animation: fadeInChatMessage 80ms linear 0s 1 normal forwards;

    }
    
    /* Insert code here... */
}